{% extends 'base.html' %}
{% load bootstrap4 %}
<!--{% load crispy_forms_tags %}-->
{% load static %}

<head>
    {% block title %}
        <title>Entrar</title>
    {% endblock title %}
</head>
    {% block conteudo %}
    <div class="container-fluid cont-login">
            <div class="main-login">
                <br>
                <div class="row d-flex justify-content-center">
                    <img src="/static/images/algoritme.png" alt="Algoritme logo" width="300px" height=" 67.22px ;">
                </div>

                <form method="post" id="form" action="?next={{ redirect_to }}">
                    {% csrf_token %}
<!--                    {{ form|crispy }}-->
                  <div class="form-group">
                     <input type="text" name="username" class="form-control form-control-lg" placeholder="Usuário" autocomplete="off">
                      <br>
                      <input type="password" name="password" class="form-control form-control-lg" placeholder="Senha" autocomplete="off">
<!--                      <small class="texto-link-senha form-text text-muted">Esqueceu a senha?</small>-->
                      <br>
                    {% buttons %}
                  <button style="margin-top: 10px;" type="submit" class="btn btn-success btn-lg btn-block">Entrar</button>
                    {% endbuttons %}
                  </div>
                </form>
            </div>
    </div>
    {% endblock conteudo %}